# Redis Configuration
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_PUBSUB_CHANNEL=slack-relay-reaction-added
REDIS_LIST_NAME=poppit-commands

# Slack Configuration
SLACK_BOT_TOKEN=xoxb-your-slack-bot-token

# Deployment Configuration
BASE_DIR=/app/repos
